extends layout

block content
  .offer-first
    span(style='font-size: 3.5em') 404 
    br
    br
    span(style='line-height:1.5em;padding:2em;font-weight: lighter;text-align: center')
      | Not Found
    br
    h3= usererror
  //- h1= message
  //- h2= error.status
  
  //- pre #{error.stack}
  //- h2 404