head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title= title 
  block meta
  link(rel='icon' href='/images/favicon.png' type='image/x-icon' sizes='16x16')
  meta(name='keywords' content=`${key}`)
  link(rel='stylesheet', href='https://www.speedyfi.in/campaign/stylesheets/style.css')
  //-link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  script(type='text/javascript' src='http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=qce9mYst0TkcyJoqcA3cYalXfGftXfd0Se-A5qWEaXr978wQaN1chwNoZlr808epzCc280gQJYina70qPpozlBdl3shsdisdJAT8nZKOkGNhhva_OJETdrrLWuGk2SO8' charset='UTF-8')
  link(rel='stylesheet' crossorigin='anonymous' href='http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL3ByaXZpbGVnZXMubW1jaW50ZXJuZXQuaW4vcmVmZXIvZTMwNy9iOWJlNTNjYzRhNGMzNTRkZWMyZDZjZGZjOTkxNDk4OQ')
  
 
body
  block content
  script(type='text/javascript' src='https://www.speedyfi.in/campaign/js/main.js')
  script(type='text/javascript' src='https://www.speedyfi.in/campaign/js//swa.js')
  script( src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous")
  //- script(type='text/javascript' src='/js/main.js')
  //- script(type='text/javascript' src='/js/swa.js')
  

